*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #384047;
}
h1{
  background-color: rgb(51, 76, 97);
  color: white;
  padding: 30px;
  font-size: 25px;
}
header h2{
  margin-bottom: 10px;
  color: black;
}
div{
  border-bottom: 4px black solid;
  margin: 0 10px;
}
form {
  margin: 4px 10px 10px 10px;
  border-top: 2px black solid; 
}
form legend{
  color: black;
  font-weight: 900;
}
input[placeholder]{
  text-align: end;
}
fieldset{
  padding: 10px 0;
}

h1, h2, p{
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 5px;
}
input[type="number"]{
  width: 50vw;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #43c4b9;
  font-size: 25px;
  text-align: center;
  font-style:normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #43c4b9;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}
#contact{
   border-bottom: 2px black solid;
}

.inline {
  display: inline;
}

#newsletter label:first-of-type{
  padding-top:10px;
}
#newsletter label:last-of-type{
  padding-bottom:10px;
}
#newsletter legend{
  margin: 0;
  padding-top: 0;
}
#newsletter label{
  padding-top: 20px;
}
input[type="radio"], input[type="checkbox"]{
  margin-right: 15px;
  margin-top: 10px;
}
textarea{
  margin: 0;
  padding:0 ;
}
input:focus, textarea:focus{
  border:3px solid blue;
}
footer{
  font-style: italic;
  color: #8a97a0;
  padding-bottom: 200px;
}
@media screen and (min-width: 768px) {
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div{
    width: 50vw;
  }
  h1{
    width: 100%;
  }
  h2{
    padding-top: 30px;
  }
  p{
    padding-bottom: 20px;
  }
  form {
    width: 50vw;
  }
  label{
    font-weight:400;
  }
  #contact legend{
    padding-top: 50px;
  }
  #contact label{
    display: inline-block;
    width: 9.4vw;
  }
  input[type="number"]{
    width:15vw;
    margin-bottom: 40px;
  }
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  select{
    width:40vw;
    display: inline-block;
  }

}
